In [345]:
import numpy as np
import pandas as pd
df = pd.read_csv('/content/drug200.csv')  
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [346]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB

In [347]:
x = df.iloc[:,0:5]
x.head(2)

   Age Sex    BP Cholesterol  Na_to_K
0   23   F  HIGH        HIGH   25.355
1   47   M   LOW        HIGH   13.093

In [348]:
y = df.iloc[:,5:]
print(df['Drug'].unique())

['DrugY' 'drugC' 'drugX' 'drugA' 'drugB']

In [349]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=21)

In [350]:
xtrain.shape, xtest.shape, ytrain.shape, ytest.shape

((160, 5), (40, 5), (160, 1), (40, 1))

In [351]:
ytrain.head()

      Drug
176  drugA
111  drugX
114  drugX
14   drugX
106  drugX

In [352]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
xtrain['BP'] = le.fit_transform(xtrain['BP'])
xtest['BP'] = le.transform(xtest['BP'])
xtrain['Sex'] = le.fit_transform(xtrain['Sex'])
xtest['Sex'] = le.transform(xtest['Sex'])
xtrain['Cholesterol'] = le.fit_transform(xtrain['Cholesterol'])
xtest['Cholesterol'] = le.transform(xtest['Cholesterol'])

ytrain['Drug'] = le.fit_transform(ytrain['Drug'])
ytest['Drug'] = le.transform(ytest['Drug'])

xtrain.head()

     Age  Sex  BP  Cholesterol  Na_to_K
176   48    1   0            1   10.446
111   47    0   2            1    6.683
114   20    0   2            1    9.281
14    50    0   2            0   12.703
106   22    1   2            0   11.953

In [353]:
xtest.head()

     Age  Sex  BP  Cholesterol  Na_to_K
144   39    1   0            0    9.664
9     43    1   1            1   19.368
17    43    1   0            0   13.972
20    57    1   1            1   19.128
45    66    0   2            1    8.107

In [354]:
ytrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 160 entries, 176 to 56
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Drug    160 non-null    int64
dtypes: int64(1)
memory usage: 2.5 KB

In [355]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [356]:
# # Initializing the seq model
# reg_model = Sequential()
# # Adding the input layer to the model
# reg_model.add(Dense(4,activation='relu'))
# # Adding the 1st hidden layer to the model
# reg_model.add(Dense(64,activation='relu'))
# # Adding the 2nd hidden layer to the model
# reg_model.add(Dense(32,activation='relu'))
# # Adding output layer
# reg_model.add(Dense(1,activation='linear'))
model = Sequential()
# model.add(layers.Flatten(input_shape=()))
model.add(Dense(5,activation='relu'))
model.add(Dense(22,activation='relu'))
model.add(Dense(34,activation='relu'))
model.add(Dense(22,activation='relu'))
model.add(Dense(1,activation='linear'))

In [357]:
# reg_model.compile(optimizer='adam',loss='mse')
model.compile(optimizer='adam',loss='mse')

In [358]:
model.fit(xtrain,ytrain,batch_size=6,epochs=40)

Epoch 1/40
27/27 [==============================] - 1s 2ms/step - loss: 11.5055
Epoch 2/40
27/27 [==============================] - 0s 2ms/step - loss: 3.5737
Epoch 3/40
27/27 [==============================] - 0s 3ms/step - loss: 3.4727
Epoch 4/40
27/27 [==============================] - 0s 2ms/step - loss: 3.4133
Epoch 5/40
27/27 [==============================] - 0s 2ms/step - loss: 3.5876
Epoch 6/40
27/27 [==============================] - 0s 2ms/step - loss: 3.6409
Epoch 7/40
27/27 [==============================] - 0s 2ms/step - loss: 3.3308
Epoch 8/40
27/27 [==============================] - 0s 2ms/step - loss: 3.3711
Epoch 9/40
27/27 [==============================] - 0s 2ms/step - loss: 3.0895
Epoch 10/40
27/27 [==============================] - 0s 2ms/step - loss: 3.0258
Epoch 11/40
27/27 [==============================] - 0s 2ms/step - loss: 3.0845
Epoch 12/40
27/27 [==============================] - 0s 2ms/step - loss: 2.9083
Epoch 13/40
27/27 [==============================] - 0s 2ms/step - loss: 2.8810
Epoch 14/40
27/27 [==============================] - 0s 2ms/step - loss: 2.8049
Epoch 15/40
27/27 [==============================] - 0s 2ms/step - loss: 2.9792
Epoch 16/40
27/27 [==============================] - 0s 3ms/step - loss: 2.9375
Epoch 17/40
27/27 [==============================] - 0s 2ms/step - loss: 2.4826
Epoch 18/40
27/27 [==============================] - 0s 2ms/step - loss: 2.3730
Epoch 19/40
27/27 [==============================] - 0s 2ms/step - loss: 2.5037
Epoch 20/40
27/27 [==============================] - 0s 2ms/step - loss: 2.4927
Epoch 21/40
27/27 [==============================] - 0s 2ms/step - loss: 2.1041
Epoch 22/40
27/27 [==============================] - 0s 2ms/step - loss: 1.9044
Epoch 23/40
27/27 [==============================] - 0s 2ms/step - loss: 1.9356
Epoch 24/40
27/27 [==============================] - 0s 2ms/step - loss: 1.6614
Epoch 25/40
27/27 [==============================] - 0s 2ms/step - loss: 1.5615
Epoch 26/40
27/27 [==============================] - 0s 2ms/step - loss: 1.5013
Epoch 27/40
27/27 [==============================] - 0s 3ms/step - loss: 1.4140
Epoch 28/40
27/27 [==============================] - 0s 2ms/step - loss: 1.3831
Epoch 29/40
27/27 [==============================] - 0s 2ms/step - loss: 1.4471
Epoch 30/40
27/27 [==============================] - 0s 2ms/step - loss: 1.3110
Epoch 31/40
27/27 [==============================] - 0s 2ms/step - loss: 1.2732
Epoch 32/40
27/27 [==============================] - 0s 2ms/step - loss: 1.1931
Epoch 33/40
27/27 [==============================] - 0s 2ms/step - loss: 1.1892
Epoch 34/40
27/27 [==============================] - 0s 2ms/step - loss: 1.4319
Epoch 35/40
27/27 [==============================] - 0s 2ms/step - loss: 1.3697
Epoch 36/40
27/27 [==============================] - 0s 2ms/step - loss: 1.4870
Epoch 37/40
27/27 [==============================] - 0s 2ms/step - loss: 1.2539
Epoch 38/40
27/27 [==============================] - 0s 2ms/step - loss: 1.1831
Epoch 39/40
27/27 [==============================] - 0s 2ms/step - loss: 1.2035
Epoch 40/40
27/27 [==============================] - 0s 2ms/step - loss: 1.2257

In [359]:
result = model.predict(xtest)

2/2 [==============================] - 0s 6ms/step

In [360]:
comp = pd.DataFrame(ytest)  # Creating a dataframe
comp.columns = ['Actual Value']  # Changing the column name

result = np.rint(ypred).astype(int) # Creating a column based onth prediction
# result = le.inverse_transform(result)
comp['Predicted values'] = result
# print(comp['Predicted values'].unique())
comp

     Actual Value  Predicted values
144             1                 1
9               0                 0
17              1                 0
20              0                 1
45              4                 4
6               0                 1
52              0                 0
91              0                 0
129             4                 4
183             0                 0
21              0                 0
42              0                 3
105             4                 3
145             4                 4
87              0                 1
152             4                 4
124             2                 1
92              0                 0
101             1                 1
13              0                 0
108             2                 3
75              0                 0
40              0                 1
198             4                 3
191             1                 1
192             0                 1
194             0                -1
117             4                 3
2               3                 2
131             0                 0
19              0                 0
143             0                 1
147             1                 1
22              0                 0
102             3                 1
60              0                 0
136             2                 1
168             0                 0
138             2                 2
54              2                 2